<!DOCTYPE html>
{{define "body"}}
<div class="row mt-4 g-4">
    <div class="row">
        <div class="col-1 d-flex text-end align-items-end mb-3">
            <div id="playlist-image">
                {{if .PlaylistImageUrl}}
                    <img
                    src="{{.PlaylistImageUrl}}"
                    class="img-fluid rounded-3 shadow"
                    alt="playlist or placeholder image">
                {{else}}

                {{end}}

            </div>
        </div>
        <div class="col">
            <h1 class="mb-2 mt-4">Add Your Playlist</h1>
            <form hx-post="/set-playlist/" hx-target="#playlist-image">
                <div class="mb-2">
                    <label for="playlist-link">Playlist</label>
                    <input type="text" name="input-playlist" id="playlist-link"
                        class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary col-12 shadow">
                    Select the Playlist for Your Quiz
                </button>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
        <div class="row">   
            <h1 class="mb-2 mt-4 fw-lighter">Check out Playlist Songs</h1>
            <form hx-post="/get-playlist-songs/" hx-target="#track-list">
                <button type="submit" class="btn btn-outline-primary col-8 shadow">
                    Check the songs
                </button>
            </form>
        </div>

        <div class="col">
            <h1 class="mb-2 mt-4 fw-lighter">Playlist songs:</h1>
            <ul class="list-group fs-5 me-5" id="track-list">

            </ul>
        </div>
    </div>

    <div class="col-5">
        <div class="col">
            <h1 class="mb-2 mt-4">Start the Quiz!</h1>
            <form hx-post="/quiz/" hx-target="#full-page">
                <button type="submit" class="btn btn-primary col-8 shadow">
                    Start the quiz
                </button>
            </form>
        </div>
    </div>
    
    <div class="col-1"></div>
</div>
{{end}}