{{define "body"}}
<div class="row mt-5 g-4" x-data="{ playing: {{.IsPlaying}} }">
    <div class="col">
        <div class="row mt-4">
            <form hx-post="/random-track-playback/" hx-target="#panel"  @click="playing = true">
                <button type="submit" class="btn btn-dark btn-lg col-10">
                    PLAY MYSTERIOUS SONG!
                    </button>
            </form>
        </div>
    </div>
    <div class="col-9" >
        <div class="row" id="panel">
            <div class="col-8">
                <img src="https://th.bing.com/th/id/OIG1.lFSmScQIgKiQyHVQ0.8o?pid=ImgGn" class="img-fluid rounded-5 shadow mb-4" alt="album or placeholder image">

                <div class="mt-4 d-flex justify-content-center">
                        <div>
                                <button type="submit" class="col btn rounded-circle shadow" style="padding: 0.5rem;" 
                                    hx-post="/get-current-track-info/" hx-target="#panel">

                                    <i class="bi bi-info" style="font-size: 3em;"></i>
                                </button>

                                <button type="submit" class="col btn rounded-circle shadow" style="padding: 0.5rem;"
                                    hx-post="/start-playback/" hx-swap="none" x-show="! playing" @click="playing = ! playing">

                                    <i class="bi bi-play-fill" style="font-size: 3em"></i>
                                </button>
                                <button type="submit" class="col btn rounded-circle shadow" style="padding: 0.5rem;"
                                    hx-post="/start-playback/" hx-swap="none" x-show="playing" @click="playing = ! playing">

                                    <i class="bi bi-pause-fill" style="font-size: 3em"></i>
                                </button>

                                <button type="submit" class="col btn rounded-circle shadow" style="padding: 0.75rem;"
                                    hx-post="/random-track-playback/" hx-target="#panel" @click="playing = ! playing">

                                    <i class="bi bi-skip-end-fill" style="font-size: 2.5em"></i>
                                </button>
                        </div>
                </div>
            </div>
            <div class="col mt-4 mx-4">
                <div class="row">
                    <form hx-post="/get-current-track-info/" hx-target="#panel">
                        <button type="submit" class="btn btn-dark btn-lg col-10">
                        REVEAL SONG!
                        </button>
                    </form>
                </div>
                <div class="row">
                        <ul class="list-group fs-5 me-5" id="track-info">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{{end}}
