    <div class="col-8">
        <img src="{{.ImageUrl}}" class="img-fluid rounded-5 shadow  mb-4" alt="album or placeholder image">

        <div class="mt-4 d-flex justify-content-center">
            <div>
                <button type="submit" class="col btn rounded-circle shadow" style="padding: 0.5rem;" 
                    hx-post="/get-current-track-info/" hx-target="#panel">

                    <i class="bi bi-info" style="font-size: 3em;"></i>
                </button>

                <button type="submit" class="col btn rounded-circle shadow" style="padding: 0.5rem;"
                    hx-post="/start-playback/" hx-swap="none" x-show="! playing" @click="playing = ! playing">

                    <i class="bi bi-play-fill" style="font-size: 3em"></i>
                </button>
                <button type="submit" class="col btn rounded-circle shadow" style="padding: 0.5rem;"
                    hx-post="/start-playback/" hx-swap="none" x-show="playing" @click="playing = ! playing">

                    <i class="bi bi-pause-fill" style="font-size: 3em"></i>
                </button>

                <button type="submit" class="col btn rounded-circle shadow" style="padding: 0.75rem;"
                    hx-post="/random-track-playback/" hx-target="#panel" @click="playing">
                    
                    <i class="bi bi-skip-end-fill" style="font-size: 2.5em"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col mx-4 mt-4">
        <div class="row">
                    <form hx-post="/get-current-track-info/" hx-target="#panel">
                        <button type="submit" class="btn btn-dark btn-lg col-10">
                        REVEAL SONG!
                        </button>
                    </form>
        </div>
        <div class="row">
                <ul class="list-group fs-5 ms-2" id="track-info">
                    {{if .Name}}
                        <li class='list-group-item list-group-item-secondary text-black-50'>Song name: <h3 class="text-black">{{.Name}}</h3></li>
                    {{end}}
                    {{if .ReleaseDate}}
                        <li class='list-group-item list-group-item-secondary text-black-50'>Release date: <h3 class="text-black">{{.ReleaseDate}}</h3></li>
                    {{end}}
                    {{if .MainArtistName}}
                        <li class='list-group-item list-group-item-secondary text-black-50'>Artist: <h3 class="text-black">{{.MainArtistName}}</h3></li>
                    {{end}}
                    {{if .AlbumName}}
                        <li class='list-group-item list-group-item-secondary text-black-50'>Album name: <h3 class="text-black">{{.AlbumName}}</h3></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
